fastapi
uvicorn
gunicorn 
SQLAlchemy 
psycopg2-binary 
requests
pydantic 
dotenv
alembic
celery==5.4.0
redis==5.0.8

djangorestframework
Django>=5.0
requests
httpx
django-cors-headers
py
python-dotenv
python-jose[cryptography]